@import "./mixins.scss";
.dashboard {
  height: 100vh;
  width: 100vw;
  @include flex-col;
  .body {
    display: flex;
    flex: 1;
  }
}
.header {
  width: 100vw;
  background-color: rgba(255, 250, 250, 0.5);
  border-bottom: 1px solid whitesmoke;
  @include flex-row-cr-sb;
  padding: 5px 15px;
  .left {
    h2 {
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 25px;
      span {
        color: rgb(241, 12, 12);
        font-size: 35px;
      }
    }
  }
  .right {
    .MuiAvatar-root {
      background-color: #8bc6ec;
      background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
      cursor: pointer;
    }
  }
}
.sidebar {
  flex: 0.18;
  background-color: rgba(255, 250, 250, 0.5);
  @include flex-col;
  .compose {
    align-self: center;
    padding: 10px;
    button {
      padding: 15px 20px;
      border-radius: 56px;
      outline: none !important;
      border: 0 !important;
    }
  }
  .inbox {
    padding: 5px;
    h3 {
      font-weight: 400;
      letter-spacing: 2;
      text-transform: uppercase;
      font-size: 25px;
      span {
        font-size: 30px;
      }
    }
    .emails {
      flex: 1;
      max-height: 90vh !important;
      overflow-y: scroll !important;
      padding: 5px;
      .emailCard {
        @include flex-row-cr-sb;
        cursor: pointer;
        padding: 5px;
        margin-bottom: 5px;
        .MuiAvatar-root {
          background-color: #8bc6ec;
          background-image: linear-gradient(135deg, #8bc6ec 180%, #9599e2 100%);
        }
        h4 {
          flex: 1;
          margin-left: 10px;
          font-weight: 400;
        }
        :hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.composeModal {
  .composeModal__header {
    @include flex-row-cr-sb;
    .composeModal__headerIcon {
      fill: red;
      height: 35px;
      width: 35px;
      cursor: pointer;
    }
  }
  form {
    @include flex-col;
    .MuiInputBase-root {
      padding-bottom: 5px !important;
      margin-top: 20px !important;
    }
    textarea {
      outline: none !important;
      border: 0 !important;
      margin: 20px 10px;
      padding: 10px;
      ::placeholder {
        color: #a2a2a2;
      }
    }
    button {
      max-width: 150px !important;
      margin: 15px 0;
      outline: none !important;
    }
  }
}

.emailViewer {
  flex: 0.82;
  background-image: linear-gradient(135deg, #8bc6ec 180%, #9599e2 100%);
  padding: 20px;
  @include flex-col;
  .emailViewer__header {
    @include flex-row-cr-sb;
    svg {
      fill: grey;
      cursor: pointer;
      :hover {
        fill: black;
      }
    }
  }
  .emailViewer__message {
    flex: 1;
    // width: 800px;
    margin-top: 20px;
    textarea {
      width: 100%;
      max-width: 800px;
      text-align: justify;
      background: transparent !important;
      outline: none !important;
      resize: none;
      max-height: 750px;
      border: 0 !important;
      margin-left: 20px;
      :disabled {
        color: #000;
      }
    }
  }
  .emailViewer__noEmail {
    h2 {
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 25px;
      span {
        color: rgb(241, 12, 12);
        font-size: 35px;
      }
    }
  }
}

// //////////////////////////////////////////
.emails::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.emails {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.emailViewer__message > textarea::-webkit-scrollbar {
  background: #8bc6ec !important;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.emailViewer__message > textarea::-webkit-scrollbar-track {
  background: #8bc6ec !important;
}
.emailViewer__message > textarea::-webkit-scrollbar-track:hover {
  background: #8bc6ec !important;
}

/* scrollbar itself */
.emailViewer__message > textarea::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #8bc6ec;
}
.emailViewer__message > textarea::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.emailViewer__message > textarea::-webkit-scrollbar-button {
  display: none;
}

.emailViewer__message > textarea {
  height: 75vh;
  width: 25vw;
  min-width: 150px;
  background: #fff;
  overflow-y: scroll;
}
.overflow {
  min-height: 100vh;
}
