@import "./mixins.scss";

.loading {
  @include flex-col-cr-cr;
  height: 100vh;
  width: 100vw;
  background-color: #c6dbf2;
  background-image: linear-gradient(135deg, #c6dbf2 180%, #9599e2 100%);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
