.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    .MuiFormControl-root {
      margin-bottom: 15px;
    }
    button {
      outline: none !important;
      margin: 15px 0;
      *:focus {
        outline: none !important;
      }
    }
    .loadingLogin {
      align-self: center;
      margin: 20px 0;
    }
  }
}
